body, html {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

/* -------------------------------- General styling   */

.margin-top {
    margin-top: 120px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
/* -------------------------------- Home page  */

#home-page {
    background-image: url('/media/homepage_1.jpg') ;
    background-size: cover;
    /* z-index: -1; */
    height: 100%;
}

.main-logo-link {
    width: fit-content;
}

.start-now {
    background: black;
    color: white;
    min-width: 260px;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}